
.Title{
  width: 80%;
  height: 70px;
  border: 5px double black;
  text-align: center;
  margin: auto;
}
.item{
  width: 250px;
  height: 350px;
  border:1px solid chocolate;

}
.listItem{
  margin:20px auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.avatar{
  width: 80px;
  height: 80px;
  border: 2px solid springgreen;
  border-radius: 50%;
  margin:5px auto;

}
.text{
  width: 200px;
  margin: auto;
}
